<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>
  <body class="w-full h-screen flex items-center justify-center bg-white">
    <div class="relative flex justify-center">
      <h1 class="text-center text-9xl font-semibold absolute top-12">404</h1>
      <img
        src="https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif"
        alt=""
      />
      <div class="absolute bottom-5 flex flex-col gap-8">
        <p class="text-center">
          <strong>
            Look like you're lost <br />
            the page you are looking for not avaible!
          </strong>
        </p>
        <span class="text-center">
          <a
            class="px-5 py-2 bg-[#39AC31] text-white text-center font-semibold"
            href="/"
          >
            Go to Home
          </a>
        </span>
      </div>
    </div>
  </body>
</html>
