<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="w-full min-h-screen bg-zinc-800 flex flex-col items-center justify-center"
  >
    <h1 class="text-center text-4xl font-semibold text-slate-500 m-10">
      Signup
    </h1>
    <form
      class="border p-5 test-white bg-slate-500"
      action="/user/signup"
      method="post"
    >
      <input
        class="w-full px-3 py-2 m-2 rounded-lg"
        type="text"
        name="name"
        placeholder="Username"
      />
      <input
        class="w-full px-3 py-2 m-2 rounded-lg"
        type="text"
        name="email"
        placeholder="email"
      />
      <input
        class="w-full px-3 py-2 m-2 rounded-lg"
        type="text"
        name="password"
        placeholder="***********"
      />
      <div class="flex justify-center">
        <button
          class="px-5 py-3 bg-zinc-700 text-white rounded-lg"
          type="submit"
        >
          Submit
        </button>
      </div>
      <% if (typeof error !== "undefined") { %>
      <div class="text-rose-800 font-semibold"><%= error %></div>
      <% } %>
    </form>
  </body>
</html>
